ToolTipWidget {
    qproperty-opacity: 0.9;
    background: @cbg.3;
}

ToolTipWidget QAbstractSpinBox {
    border: none;
    min-height: 0px;
    padding: 0px;
    background: transparent;
    qproperty-alignment: "Qt::AlignRight | Qt::AlignBottom";
}

ToolTipArrowWidget {
    background: @cbg.3;
}

ToolTipWidget QWidget{
    font-size: 12px;
}

VisualizationLegendWidget {
    max-height: 52px;
    min-height: 52px;
    spacing: 0px;
}

VisualizationLegendWidget QLabel {
    font-size: 10px;
    margin-left: 1px;
}

VisualizationLegendWidget QLabel[a_selected=true] {
    color: @ctext.1;
}

VisualizationLegendColorItemWidget {
    max-height: 4px;
    min-height: 4px;
    max-width: 10px;
    min-width: 10px;
}

VisualizationLegendItemWidget QCheckBox {
    max-width: 16px;
    max-height: 16px;
    margin-left: 8px;
    margin-right: 1px; /* Force right margin to zero */
    padding: 0px;      /* Erase default inner text padding */
    spacing: 0px;
}

VisualizationLegendItemWidget QCheckBox::indicator {
    width: 16px;
    height: 16px;
}

