# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
/QtForFun.pro.user
Build
build-IMX-Desktop_Qt_5_12_1_GCC_64bit-Debug
/Bin/Deploy/x32
/Bin/Deploy/x64
/Bin/build-Desktop_Qt_5_9_2_MSVC2015_32bit/IMX
/Bin/build-Desktop_Qt_5_9_2_MSVC2015_64bit/IMX
/IMX
/build-IMX-Qt_5_6_GCC_Arm-Debug
/build-IMX-Qt_5_6_GCC_Arm-Release
/PropertiesModule/wrappedvalue.h
/WidgetsModule/Widgets/widgetsfloatingtoolbar.cpp
/WidgetsModule/Widgets/widgetsfloatingtoolbar.h
/WidgetsModule/Widgets/widgetsfloatingtoolbar.ui
