BHAComponentViewBase QScrollArea {
    min-width: 0px;
    max-width: 500px;
}

BHAComponentViewBase {
    max-width: 406px;
}

WPSCSectionSummaryView QTreeView:branch:!has-children:!has-siblings:adjoins-item
{
    border-image: none;
}

WPSCSectionSummaryView QTreeView::item
{
    min-height: 25px;
}