CustomPlot {
    qproperty-textPadding: rect(12 0 12 0);
    qproperty-fontSize: 12;
}

VisualizationToolTipWidget {
    qproperty-opacity: 0.8;
}

VisualizationToolTipWidget QWidget{
    font-size: 12px;
}

VisualizationLegendWidget {
    max-height: 40px;
    min-height: 40px;
}

VisualizationLegendColorItemWidget {
    max-height: 10px;
    min-height: 10px;
    max-width: 30px;
    min-width: 30px;
}