@import url("common/properties.qss");
@import url("dark/style.qss");
@import url("dark/mainprogressbar.qss");
@import url("dark/topnotifierframe.qss");
@import url("dark/ads.qss");
@import url("common/leftbar.qss");
@import url("dark/leftbar.qss");
@import url("common/notify.qss");
@import url("common/style.qss");
@import url("dark/visualization.qss");
