MainWindow {
    qproperty-iconPlanColor: #007acc;
    qproperty-iconPrototypeColor: #007acc;
    qproperty-iconSurveyColor: #ff3b30;
    qproperty-iconNetworkOnlineColor: white;
    qproperty-iconNetworkOfflineColor: #ff3b30;
}
