MainWindow {
    qproperty-iconPlanColor: #007acc;
    qproperty-iconPrototypeColor: #007acc;
    qproperty-iconSurveyColor: #ff3b30;
    qproperty-iconSlideSheetColor: #68217a;
    qproperty-iconJobInformationColor: #999;
    qproperty-iconRunSummaryColor: #6aa84f;
    qproperty-iconDailyReportColor: #ffff00;
    qproperty-iconBHAColor: #a4c2f4;
    qproperty-iconCalendarColor: #F3F3F3;
    qproperty-iconNetworkOnlineColor: #22b14c;
    qproperty-iconNetworkOfflineColor: #ff3b30;
}
