
NotifyButton:hover {
    background-color: #505050;
}

NotifyConsole QPushButton#BtnCloseConsole:hover{
    background-color: #505050;
}

NotifyConsole QPushButton#BtnShowInfo:hover {
    background: #505050;
}

NotifyConsole QPushButton#BtnShowErrors:hover {
    background: #505050;
}

NotifyConsole QPushButton#BtnShowWarnings:hover {
    background: #505050;
}

NotifyConsole QTableView{
    margin-left: 9px;
    margin-right: 9px;
}