QPushButton#PropertiesToolBarButton {
    background: #3E3E3E;
    text-align: left;
    padding: 10px 0px 10px 0px;
    border: none;
    font-weight: bold;
}

QPushButton#PropertiesToolBarButton:hover {
    background: #505050;
}