MainWindow {
    qproperty-visualizationTextColor: white;
    qproperty-visualizationTextBorderColor: black;
    qproperty-visualizationBackgroundColor: #181818;
    qproperty-visualizationBoxColor: #252526;
    qproperty-visualizationAxisColor: #858585;
    qproperty-visualizationFrameColor: #181818;
    qproperty-placeHolderColor: #4d4d4d;
}
