QPushButton#PropertiesToolBarButton {
    background: #F3F3F3;
    text-align: left;
    padding: 10px 0px 10px 0px;
    border: none;
    color: #414141;
    font-weight: bold;
}

QPushButton#PropertiesToolBarButton:hover {
    background: #1976D2;
    color: white;
}

WPSCSectionSummaryView QTreeView::item
{
    background: #D4D4D4;
    border-right: 1px solid white;
    border-top: 1px solid white;
}