MainWindow {
    qproperty-visualizationTextColor: #787878;
    qproperty-visualizationTextBorderColor: white;
    qproperty-visualizationBackgroundColor: white;
    qproperty-visualizationBoxColor: #F3F3F3;
    qproperty-visualizationAxisColor: #787878;
    qproperty-visualizationFrameColor: white;
    qproperty-placeHolderColor: #d4d4d4;
}